
@{
    ViewBag.Title = "Index";
}
@using FourSeasonsWebShop.Models 

<h2>Products // What Is In Store</h2>

<table class="table">

    <tr>
        <th>Item Number</th>
        <th>Image</th>
        
        <th>Title</th>
        <th>Category</th>
        <th>Brand</th>
        
        <th>Price</th>
        
        <th>Buy</th>

    </tr>
    @foreach (Item i in ViewBag.listProducts)
    {
        <tr>
            <td>@i.ItemId</td>
            <td>@i.ItemArtUrl</td>
           
            <td>@i.Title</td>
            <td>@i.Category.Name</td>
            <td>@i.Producer.Name</td>
            <td>@i.Price</td>
            <td>@Html.ActionLink("Order Now", "OrderNow", "ShoppingCart", new { id = i.ItemId }, null)</td>

        </tr>
    }
</table>

