@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">
        <img src="/Images/FourSeasons.png">
        @*Customer: @Html.ActionLink("Store", "Index", "Product"), Order, @Html.ActionLink("Cart", "Index", "ShoppingCart"), Previous Orders, @Html.ActionLink("Brands", "AllBrands", "Producers"), @Html.ActionLink("Categories", "Index", "Categories") <br />
        Brand: @Html.ActionLink("View & Edit Products", "Index", "Items1"), @Html.ActionLink("Upload New Product", "Create", "Items1"), create profile, edit profile <br />
        Manager: <br />*@
    </p>
    <p>
        <a href="/Users/Register"><img src="/Images/SignUp.png"></a>
    @*<a href="/Users/Register" class="btn btn-primary btn-lg">Join our platform now &raquo;</a>*@</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@*@Html.ActionLink("Categories", "Index", "Categories")*@</h2>
        <p>
            <img src="/Images/2.png" width="350" height="350">
        </p>
        <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>@*@Html.ActionLink("Store", "Index", "Items")*@</h2>
        <p>
            <img src="/Images/1.png" width="350" height="350">
        </p>
         <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">More &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>@*@Html.ActionLink("Brands", "Index", "Producers")*@</h2>
        <p>
            <img src="/Images/3.png" width="350" height="350">
        </p>
         <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">More &raquo;</a>*@</p>
    </div>
</div>